In [4]:
import pandas as pd
import numpy as np

In [5]:
# create a small dictionary with different data types

dft = pd.DataFrame(dict(A = np.random.rand(3),
                        B = 1,
                        C = 'foo',
                        D = pd.Timestamp('20010102'),
                        E = pd.Series([1.0]*3).astype('float32'),
                                F = False,
                                G = pd.Series([1]*3,dtype='int8')))

dft

          A  B    C          D    E      F  G
0  0.362741  1  foo 2001-01-02  1.0  False  1
1  0.946309  1  foo 2001-01-02  1.0  False  1
2  0.934767  1  foo 2001-01-02  1.0  False  1

In [6]:
# There is a really easy way to see what kind of dtypes 
# are in each column. 

dft.dtypes

A           float64
B             int64
C            object
D    datetime64[ns]
E           float32
F              bool
G              int8
dtype: object

In [7]:
# If a pandas object contains data multiple dtypes IN A 
# SINGLE COLUMN, the dtype of the column will be chosen 
# to accommodate all of the data types (object is the 
# most general).
# these ints are coerced to floats

pd.Series([1, 2, 3, 4, 5, 6.])

0    1.0
1    2.0
2    3.0
3    4.0
4    5.0
5    6.0
dtype: float64

In [8]:
# string data forces an ``object`` dtype

pd.Series([1, 2, 3, 6., 'foo'])
type([1,2,3,False,'03-20,1978', np.arange(22)])

list

In [9]:
# The method get_dtype_counts() will return the number 
# of columns of each type in a DataFrame:

dft.get_dtype_counts()

bool              1
datetime64[ns]    1
float32           1
float64           1
int64             1
int8              1
object            1
dtype: int64

In [10]:
# create a small data frame. 

df = pd.DataFrame(np.random.randn(5, 4), columns=['a', 'b', 'c', 'd'])
df['a'].map(lambda value: value +1)

0    0.496430
1    0.619803
2    1.688248
3    0.407802
4    0.906026
Name: a, dtype: float64

In [40]:
# Use df.apply to find the square root of all the values. 
# NaN means not a number

df.apply(np.sqrt)

    a         b         c         d
0 NaN       NaN  1.314638       NaN
1 NaN  0.901465  0.075449  0.642420
2 NaN       NaN       NaN  1.037627
3 NaN  1.122024  1.274496       NaN
4 NaN  1.187353       NaN       NaN

In [11]:
# find the mean of all of the columns

df.apply(np.mean, axis=1)

0   -0.491407
1    0.294954
2    0.307967
3   -0.676191
4   -0.074352
dtype: float64

In [12]:
# find the mean of all of the rows

df.apply(np.mean, axis=0)

a   -0.176338
b   -0.774837
c    0.628985
d   -0.189032
dtype: float64

In [24]:
# Let's create a random array with 50 numbers, ranging 
# from 0 to 7.

data = np.random.randint(0, 7, size = 50)
df.applymap(lambda value: str(value) + " :(")
df['cocaine-frequency'].map(lambda value: str(value) + " :(")

KeyError: 'cocaine-frequency'

In [56]:
# convert the array into a series

s = pd.Series(data)

In [58]:
# How many of each number is there in the series? Enter 
# value_counts()

pd.value_counts(s)

5    10
6     9
1     9
4     8
2     6
0     5
3     3
dtype: int64