In [17]:
import numpy as np
import scipy.stats as stats
import seaborn as sns
import matplotlib.pyplot as plt
import pandas as pd
import imp

In [18]:
file1 = ('/Users/tyronewilliams/Desktop/DSI-SF-4/datasets/movie_weekend/movie_weekend.csv')
movies = pd.read_csv(file1)

In [19]:
movies.head()

   NUMBER             MOVIE  WEEK_NUM  WEEKEND_PER_THEATER WEEKEND_DATE
0     1.0  A Beautiful Mind       1.0                701.0     12/21/01
1     1.0  A Beautiful Mind       2.0              14820.0     12/28/01
2     1.0  A Beautiful Mind       3.0               8940.0       1/4/02
3     1.0  A Beautiful Mind       4.0               6850.0      1/11/02
4     1.0  A Beautiful Mind       5.0               5280.0      1/18/02

In [20]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1281 entries, 0 to 1280
Data columns (total 5 columns):
NUMBER                 1254 non-null float64
MOVIE                  1254 non-null object
WEEK_NUM               1254 non-null float64
WEEKEND_PER_THEATER    1254 non-null float64
WEEKEND_DATE           1254 non-null object
dtypes: float64(3), object(2)
memory usage: 50.1+ KB

In [33]:
movies. = movies["WEEKEND_DATE"]

In [34]:
#movies["WEEKEND_PER_THEATER"].resample("M").sum().plot()

In [35]:
movies.index.head()

AttributeError: 'Index' object has no attribute 'head'