In [60]:
import numpy as np
import scipy.stats as stats
import seaborn as sns
import matplotlib.pyplot as plt
import pandas as pd

sns.set_style('whitegrid')

%config InlineBackend.figure_format = 'retina'
%matplotlib inline

In [61]:
import sys

In [62]:
df = pd.read_csv("/Users/tyronewilliams/Desktop/DSI-SF-4/curriculum/week-04/5.1-weekly-review/combine.csv")

In [63]:
df.head()

,id,Year,Name,Position,HeightFeet,HeightInches,Weight,Arms,Hands,FortyYD,...,Bench,Round,College,Pick,PickRound,PickTotal,FirstName,LastName,HeightInchesTotal,Wonderlic
0,8984,2013,Quanterus Smith,DE,6,5.0,250,33.25,10.375,0.0,...,0,5,Western Kentucky,13(146),13,146,Quanterus,Smith,77.0,0
1,9002,2013,Abry Jones,DT,6,3.0,313,35.00,9.750,0.0,...,30,0,NaN,NaN,0,0,Abry,Jones,75.0,0
2,9004,2013,Bennie Logan,DT,6,2.0,309,34.00,10.250,0.0,...,30,3,LSU,5(67),5,67,Bennie,Logan,74.0,0
3,9012,2013,John Boyett,FS,5,10.0,204,30.50,8.500,0.0,...,27,6,Oregon,24(192),24,192,John,Boyett,70.0,0
4,9018,2013,Bacarri Rambo,FS,6,0.0,211,31.00,9.250,0.0,...,17,6,Georgia,23(191),23,191,Bacarri,Rambo,72.0,0

In [64]:
df.describe()

,id,Year,HeightFeet,HeightInches,Weight,Arms,Hands,FortyYD,TwentyYD,TenYD,TwentySS,ThreeCone,Vertical,Broad,Bench,Round,PickRound,PickTotal,HeightInchesTotal,Wonderlic
count,4625.000000,4625.000000,4625.000000,4625.000000,4625.000000,4625.000000,4625.000000,4625.000000,4625.000000,4625.000000,4625.000000,4625.000000,4625.000000,4625.000000,4625.000000,4625.000000,4625.000000,4625.000000,4625.000000,4625.000000
mean,11371.059459,2006.584432,5.804541,4.391459,245.638054,8.172169,2.409243,4.662009,0.078867,0.138141,3.313403,1.282166,28.926811,96.427892,15.838270,2.405838,11.313946,71.261405,74.045946,1.224216
std,1523.180179,4.737971,0.396597,3.276100,45.617970,14.120348,4.164665,0.848535,0.446677,0.450521,1.899765,2.752915,11.346215,41.244566,10.824339,2.463015,12.356023,79.372799,2.610101,5.704603
min,8962.000000,1999.000000,5.000000,0.000000,155.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,65.000000,0.000000
25%,10118.000000,2002.000000,6.000000,2.000000,208.000000,0.000000,0.000000,4.540000,0.000000,0.000000,3.880000,0.000000,28.000000,101.000000,0.000000,0.000000,0.000000,0.000000,73.000000,0.000000
50%,11274.000000,2007.000000,6.000000,4.000000,237.000000,0.000000,0.000000,4.700000,0.000000,0.000000,4.240000,0.000000,32.500000,112.000000,18.000000,2.000000,7.000000,41.000000,74.000000,0.000000
75%,12430.000000,2011.000000,6.000000,6.000000,289.000000,28.750000,8.250000,5.000000,0.000000,0.000000,4.470000,0.000000,35.500000,119.000000,24.000000,4.000000,21.000000,133.000000,76.000000,0.000000
max,14926.000000,2014.000000,6.000000,11.875000,386.000000,37.750000,11.375000,6.050000,2.980000,1.920000,5.560000,8.310000,46.000000,139.000000,51.000000,7.000000,53.000000,262.000000,82.000000,48.000000

In [65]:
#Average weight, hieght(total), and bench press per position

In [66]:
df["Height"] = df["HeightFeet"]*12 + df["HeightInches"]
df.groupby("Position")[["Height","Weight", "Bench"]].mean()

             Height      Weight      Bench
Position
C         75.416667  307.166667  23.000000
CB        71.244814  192.622271  11.912664
DE        75.844388  267.931122  20.045918
DT        75.088825  305.223496  23.730659
FB        72.858586  245.060606  19.888889
FS        72.807107  204.862944  14.340102
ILB       73.632075  242.377358  19.047170
K         71.750000  187.250000   0.000000
LS        75.000000  258.000000   0.000000
NT        73.500000  323.250000  21.750000
OC        75.333333  302.515152  24.098485
OG        76.084416  314.454545  22.051948
OLB       73.931751  240.002967  19.459941
OT        77.718157  316.707317  21.002710
P         75.400000  219.800000   4.600000
QB        74.912197  222.245675   0.937716
RB        70.769254  213.372038  16.014218
SS        72.352273  210.801136  15.204545
TE        76.371324  255.022059  17.878676
WR        72.911627  200.930153   6.114140

In [67]:
#by year, find the fastest 10yrd and heaviest player (include name)

In [85]:
fast = df[df["TenYD"] != 0]
fast = fast[["Year","Name", "TenYD"]]
fastest = fast.groupby("Year")["TenYD"].min()

Year
1999    1.47
2000    1.48
2001    1.55
2002    1.53
2003    1.55
2004    1.59
2005    1.53
2006    1.48
2007    1.43
2008    1.44
2009    1.43
2010    1.40
2011    1.50
2012    1.45
2013    1.43
Name: TenYD, dtype: float64